@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-shadow: none;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: white;
}

.active {
  color: #457b9d;
}

.secondary-bg {
  background-color: #1d3557;
}
.secondary-text {
  color: #1d3557;
}

.primary-bg {
  background-color: #457b9d;
}
.primary-text {
  color: #457b9d;
}

.base-bg {
  background-color: white;
}

.base-text {
  color: white;
}

.heading {
  font-size: 20px;
  line-height: 28px;
}

.text {
  font-size: 16px;
  line-height: 24px;
}

.info {
  font-size: 12px;
  line-height: 20px;
}

@media only screen and (min-width: 1024px) {
  .heading {
    font-size: 24px;
    line-height: 32px;
  }

  .text {
    font-size: 20px;
    line-height: 28px;
  }

  .info {
    font-size: 16px;
    line-height: 24px;
  }
}
